.foxcloud-navbar {
  z-index: 5;
  background-color: #ff6200;
  padding: 7px;
  color: white;
  font-weight: bold;
}

.foxcloud-button-expanded:hover {
  background-color: #f05c00;
  border-color: #f05c00;
}

.foxcloud-input {
  background-color: black;
  border: solid 2px #0d0d0d;
  color: white;
  padding: 4px;
  width: 250px;
  border-radius: 20px;
}

.foxcloud-button {
  text-decoration: none;
  background-color: #ff6200;
  color: white;
  padding: 7px;
  border: solid 2px #ff6200;
  border-radius: 24px;
}

.foxcloud-button-expanded {
  text-decoration: none;
  background-color: #ff6200;
  color: white;
  font-weight: bold;
  padding: 7px;
  border: solid 2px #ff6200;
  border-radius: 24px;
}

.foxcloud-color {
  background-color: #ff6200;
}

.foxcloud-userinfo {
   display: block;
   position: absolute;
   left: 0px;
   width: 25%;
   z-index: 50;
   background-color: #0d0d0d;
   color: white;
   text-align: center;
}

.foxcloud-userinfo-internalInfo {
   position: relative;
   left: 50px;
   text-align: left;
}

.foxcloud-filemenu {
  font-size: 21px;
  font-weight: bold;
  position: relative;
  left: 20px;
  background-color: #121212;
  padding: 8px;
  padding-left: 11px;
  border-radius: 5px;
}

.foxcloud-filelist-file {
  font-size: 18px;
  background-color: #121212;
  position: relative;
  left: 25px;
  padding: 15px;
  width: 90%;
  border-radius: 10px;
  text-decoration: none;
  margin-bottom: 10px;
}

.foxcloud-filelist-impPart {
  width: 10%;
  float: right;
}

.foxcloud-filelist-namepart {
  float: left;
  width: 50%;
}

.foxcloud-filelist-fileSettings {
  position: relative;
  right: 1%;
}

.foxcloud-popup {
  padding: 10px;
  position: absolute;
  display: none;
  z-index: 70;
  background-color: #292929;
  color: white;
  max-width: 125px;
}

.foxcloud-popupbutton, foxcloud-popupbuttonFolder {
  width: 150%;
}

.foxcloud-textContent {
  background-color: #0f0f0f;
  border-radius: 13px;
  padding: 20px;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 16px;
}

.foxcloud-settings {
  padding: 25px;
  display: none;
  position: absolute;
  right: 0px;
  width: 45%;
  background-color: #0d0d0d;
  color: white;
  z-index: 70;
}

.foxcloud-settings-list {
  text-align: left;
  margin-left: 5px;
}

.foxcloud-fileheader-input {
  background-color: #141414;
  border: solid 2px #141414;
  border-radius: 10px;
  width: 30%;
  color: white;
  margin-right: 10%;
}

.foxcloud-goup {
  position: fixed;
  bottom: 15px;
  right: 15px;
  background-color: #141414;
  color: white;
  border: solid 15px #141414;
  border-radius: 7px;
}

// @IMPORTED [FoxPlayer\main-min.css]
.foxcloud-foxplayer-controls {
  background-color: #121212;
  color: white;
  text-align: left;
}

.foxcloud-foxplayer-elementsLeft {
  float: left;
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.foxcloud-foxplayer-elementsRight {
  float: right;
  font-size: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}
